body{
  margin: 0%;
  height: 100vh;
  overflow: hidden;
}

#reader-body{
  display: flex;
  flex-direction: column;
  width:100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  /* border: 3px solid red; */
}

.textBoxes{
  font-size: 40px;
  font-family: Arial Black;
  overflow: inherit;
  text-overflow: inherit;
  white-space: normal;
  white-space: nowrap;
  overflow: hidden;
}

.conditionalText{
  opacity: 0.6;
}

#reader-text{
  color: #fff;
  font-weight: bold;
}

#pageNumber{
  display:inline;
  background-color:transparent;
  border:0;
  text-align:center;
  width:100px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  color: #666;

}
#pageNumberMax{
  margin-left:40px;
  margin-right:40px;
}

.speed-range-container{
  color:white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

#pageInfo, #pageInfo input {
  color:white;
}

#speedRange{
  transform: rotate(180deg);
  max-width: 150px;
  max-height: 3em;
  border: 0;
}
.uk-background-secondary{
  height: 100vh;
}


.buttons ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.buttons li {
  display: inline;
}
.grid-item{
  min-width: 300px;
  font-size: 2em;
  text-align: center;
}
.reader-header{
  padding: 0 10px;
}
.main-container{
  height: 100%;
  background-color: #191a1a;
}
#myChart{
  max-width: 200px;
}
.chart{
  /* border: 3px solid green; */
}
.content-container{
  display: flex;
}
#pageNumber{
  color: black;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  height:40px;
  vertical-align: center;
  text-align: right;
  margin-left: -20px;
  border-radius: 100%;
  border-color: #111;
  border-width: 4px;
  border-style: solid;
  position:fixed;
  top:50%;
}

.openbtn span {
  margin-left:10px;
}

.openbtn:focus {
  background-color: #111;
}

.openbtn:hover {
  background-color: #111;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#openSideBar {
  transition: margin-left .5s; /* If you want a transition effect */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
