body{
  margin: 0%;
  height: 100vh;

}
#header-container{
  -webkit-app-region: drag;
  height: 3em;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

#reader-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 40px;
  color: #fff;
  font-family: Arial Black;
}
.speed-range-container{
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
#speedRange{
  transform: rotate(180deg);
}
.uk-background-secondary{
  height: 100vh;
}


.buttons ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.buttons li {
  display: inline;
}
