body{
  margin: 0%;
  height: 100vh;
  overflow: hidden;
}
#header-container{
  -webkit-app-region: drag;
  height: 3em;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

#reader-body{
  position: relative;
  float: left;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#reader-text{
  font-size: 40px;
  color: #fff;
  font-family: Arial Black;
}

#pageNumber{
  display:block;
}

.speed-range-container{
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
#speedRange{
  transform: rotate(180deg);
}
.uk-background-secondary{
  height: 100vh;
}


.buttons ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.buttons li {
  display: inline;
}
